<!-- 回到顶部 -->
	<div id="goTopBtn" class="back-top"></div>

	<div class="wraper fixwraper noEmpty" style="padding-top: 41px;">

		<div class="page-title" style="top: 0px;">
			<h2><span>全部订单</span><a href="javascript:history.back(-1);" class="arrow-left backpage"></a></h2>
		</div>
	
    
    {empty name="order"} 
		<!-- 订单列表为空 -->
		<div class="empty-car" id="cartEmpty">
	    <i class="icon"></i>
	    <p class="gray84 mt10">您还没有买过东西哦~</p>
	    </div>
    {else /}
  	<!-- 订单列表非空 -->
		<div class="order-list">

			<ul id="list">
			    {volist name="order" id="or"}
				<li>
					<div class="order-head">
						<p>
							<span>订单号:{$or.order_num}</span>
							<b>
								{switch name="or.order_status"}
								   {case value="0"}待付款{/case}
								   {case value="1"}待发货{/case}
								   {case value="2"}待收货{/case}
								   {case value="3"}退换货{/case}
								   {case value="4"}取消中{/case}
								   {case value="5"}已取消{/case}
								{/switch}
							</b>
						</p>
					</div>
					<div class="order-address">
						<p class="consigner">
							<span>收货人:{$or.add_name}</span>{$or.add_telephone}
						</p>
						<p>
							收货地址:{$or.add_province} {$or.add_city} {$or.add_area}{$or.add_detail}
						</p>
					</div>
					<div class="order-item">
					    {if isset($or.shopping_goods.goods)}
					    {foreach $or.shopping_goods.goods as $go}
					    {if isset($or.add_id)} 
						<a class="pro-item" href="{:url('User/goods',['gid'=>$go.gid])}">
						<div class="item-img">
							<img src="__UPLOADS__/{$go.info.pic}">
						</div>
						<div class="item-info">
							<p class="name">
								{$go.info.gname}
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$go.gpri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$go.num}</span><span class="opt">          预定/5个工作日发货(好像也没有这个) 1包装</span>
							</p>
						</div>
						</a>
                        {else}
                        <a class="pro-item" href="">
						<div class="item-img">
							<img src="__UPLOADS__/">
						</div>
						<div class="item-info">
							<p class="name">
								产品已被销毁
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$go.gpri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$go.num}</span><span class="opt">          产品已被销毁</span>
							</p>
						</div>
						</a>
                        {/if}
                        {/foreach}
                        {/if}
                        
                        {if isset($or.shopping_goods.works)}
                        {foreach $or.shopping_goods.works as $wo}
                        {if isset($wo.works_id)} 
						<!-- <a class="pro-item" href="{:url('User/works',['works_id'=>$wo.works_id])}"> -->
						<div class="item-img">
							<img src="__UPLOADS__/{$wo.info.pic}">
						</div>
						<div class="item-info">
							<p class="name">
								{$wo.info.works_name}
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$wo.pri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$wo.num}</span><span class="opt">          预定/5个工作日发货(好像也没有这个) 1包装</span>
							</p>
						</div>
						</a>
						{else}
						<!-- <a class="pro-item" href="{:url('User/works',['works_id'=>$wo.works_id])}"> -->
						<div class="item-img">
							<img src="__UPLOADS__/">
						</div>
						<div class="item-info">
							<p class="name">
								产品已被销毁
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$wo.pri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$wo.num}</span><span class="opt">          产品已被销毁</span>
							</p>
						</div>
						</a>
						{/if}
                        {/foreach}
                        {/if}


					</div>
					<div class="order-total">
						<p>
							共 {$or.total_num} 件，合计：¥{$or.order_pri} <span class="gray84 f12">(含运费¥0)</span>
						</p>
					</div>
					<div class="order-btn">
						<p>
							<!-- <a class="btn-pay" href="cashier.html"> -->
								{switch name="or.order_status"}
								   {case value="0"}<a class="btn-pay" href="cashier.html"> 去支付 </a>   {/case}
								   {case value="1"}<a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="2"}<a class="btn-pay" href="cashier.html"> 确认收货 </a>  
								                   <a class="btn-pay" href="cashier.html"> 查看物流 </a> {/case}
								   {case value="3"}<a class="btn-pay" href="cashier.html"> 退换货 </a>  
								                   <a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="4"}<a class="btn-pay" href="cashier.html"> 取消订单 </a> 
								                   <a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="5"}<a class="btn-pay" href="cashier.html"> 已取消</a> {/case}
								{/switch}
							
						</p>
					</div>
				</li>
				{/volist}
			</ul>
		</div>
		{/empty}
	</div>





	<!-- 回到顶部 -->
	<div id="goTopBtn" class="back-top"></div>

	<div class="wraper fixwraper noEmpty" style="padding-top: 41px;">

		<div class="page-title" style="top: 0px;">
			<h2><span>全部订单</span><a href="javascript:history.back(-1);" class="arrow-left backpage"></a></h2>
		</div>
	
    
    {empty name="order"} 
		<!-- 订单列表为空 -->
		<div class="empty-car" id="cartEmpty">
	    <i class="icon"></i>
	    <p class="gray84 mt10">您还没有买过东西哦~</p>
	    </div>
    {else /}
  	<!-- 订单列表非空 -->
		<div class="order-list">

			<ul id="list">
			    {volist name="order" id="or"}
				<li>
					<div class="order-head">
						<p>
							<span>订单号:{$or.order_num}</span>
							<b>
								{switch name="or.order_status"}
								   {case value="0"}待付款{/case}
								   {case value="1"}待发货{/case}
								   {case value="2"}待收货{/case}
								   {case value="3"}退换货{/case}
								   {case value="4"}取消中{/case}
								   {case value="5"}已取消{/case}
								{/switch}
							</b>
						</p>
					</div>
					<div class="order-address">
						<p class="consigner">
							<span>收货人:{$or.add_name}</span>{$or.add_telephone}
						</p>
						<p>
							收货地址:{$or.add_province} {$or.add_city} {$or.add_area}{$or.add_detail}
						</p>
					</div>
					<div class="order-item">
					    {if isset($or.shopping_goods.goods)}
					    {foreach $or.shopping_goods.goods as $go}
					    {if isset($or.add_id)} 
						<a class="pro-item" href="{:url('User/goods',['gid'=>$go.gid])}">
						<div class="item-img">
							<img src="__UPLOADS__/{$go.info.pic}">
						</div>
						<div class="item-info">
							<p class="name">
								{$go.info.gname}
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$go.gpri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$go.num}</span><span class="opt">          {$go.info.sale_mode}   {$wo.guige}</span>
							</p>
						</div>
						</a>
                        {else}
                        <a class="pro-item" href="">
						<div class="item-img">
							<img src="__UPLOADS__/">
						</div>
						<div class="item-info">
							<p class="name">
								产品已被销毁
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$go.gpri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$go.num}</span><span class="opt">          产品已被销毁</span>
							</p>
						</div>
						</a>
                        {/if}
                        {/foreach}
                        {/if}
                        
                        {if isset($or.shopping_goods.works)}
                        {foreach $or.shopping_goods.works as $wo}
                        {if isset($wo.works_id)} 
						<!-- <a class="pro-item" href="{:url('User/works',['works_id'=>$wo.works_id])}"> -->
						<div class="item-img">
							<img src="__UPLOADS__/{$wo.info.pic}">
						</div>
						<div class="item-info">
							<p class="name">
								{$wo.info.works_name}
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$wo.pri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$wo.num}</span><span class="opt">          {$wo.info.sale_mode}   {$wo.guige} </span>
							</p>
						</div>
						</a>
						{else}
						<!-- <a class="pro-item" href="{:url('User/works',['works_id'=>$wo.works_id])}"> -->
						<div class="item-img">
							<img src="__UPLOADS__/">
						</div>
						<div class="item-info">
							<p class="name">
								产品已被销毁
							</p>
							<div>
							</div>
							<p class="price pro-price-qty">
								¥{$wo.pri}<span class="gray84 ml10 f12 fr">单件运费¥0</span>
							</p>
							<p class="num">
								<span class="cunt">x{$wo.num}</span><span class="opt">          产品已被销毁</span>
							</p>
						</div>
						</a>
						{/if}
                        {/foreach}
                        {/if}


					</div>
					<div class="order-total">
						<p>
							共 {$or.total_num} 件，合计：¥{$or.order_pri} <span class="gray84 f12">(含运费¥0)</span>
						</p>
					</div>
					<div class="order-btn">
						<p>
							<!-- <a class="btn-pay" href="cashier.html"> -->
								{switch name="or.order_status"}
								   {case value="0"}<a class="btn-pay" href="cashier.html"> 去支付 </a>   {/case}
								   {case value="1"}<a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="2"}<a class="btn-pay" href="cashier.html"> 确认收货 </a>  
								                   <a class="btn-pay" href="cashier.html"> 查看物流 </a> {/case}
								   {case value="3"}<a class="btn-pay" href="cashier.html"> 退换货 </a>  
								                   <a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="4"}<a class="btn-pay" href="cashier.html"> 取消订单 </a> 
								                   <a class="btn-pay" href="cashier.html"> 联系客服 </a> {/case}
								   {case value="5"}<a class="btn-pay" href="cashier.html"> 已取消</a> {/case}
								{/switch}
							
						</p>
					</div>
				</li>
				{/volist}
			</ul>
		</div>
		{/empty}
	</div>



