	<div class=fixed-bt> 
		<div class=nav id=nav> 
			<a href="{:url('index/topage', 'page=index')}" class="nav-item active"><span class="icon icon-pre"></span>精选</a>
			<a href={:url('index/topage', 'page=shopping')} class="nav-item"><span class="icon icon-bag"></span>购物车</a> 
			<a href={:url('index/topage', 'page=center')} class="nav-item islogin"><span class="icon icon-user"></span>我的</a> 
		</div> 
	</div>

	<div class="mask-opacity"></div>
	<div class="pop pop-noMask dailog">
		<span class="close">X</span>
		<div style="padding: 10px">
			<div>已加入购物袋</div>
		</div>
	</div>	

	<div class="mask-opacity"></div>
	<div class="pop pop-noMask dailog">
		<span class="close">X</span>
		<div style="padding: 10px">
			<div>请选择商品属性</div>
		</div>
	</div>

	<script type="text/javascript" src="__PUBLIC__/js/scrollTo.js"></script>
	<!-- <script type="text/javascript" src="js/mask.js"></script> -->
	<script type="text/javascript" src="__PUBLIC__/js/listShow.js"></script>
</body>
</html>